@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Phonebook Application</h1>
    <p>Welcome to your personal phonebook.</p>
    <img src="https://freesvg.org/img/FX13_telephone.png" alt="Telephone Photo" width="300" height="300" />
</div>

